

*{
margin: 0;
padding: 0;

}

/**/









header .top-navbar nav.navbar ul li a{
    font-size: 20px;
    color: var(--main-font-color);
}


header nav.main-nav-bar{
    background-color: var(--main-header-color);
}









/* ice-blast-card-section */


/**/




/**/









/* Footer Section*/
