:root {
    --main-color: #e2e3e7;
    --main-font-color: #000000;
    --black-color: #000000;
    
}

*{
margin: 0;
padding: 0;

}

/**/







header .top-navbar{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);

}

header .top-navbar nav.navbar ul li a{
    font-size: 20px;
    color: var(--main-font-color);
}


header nav.main-nav-bar{
    background-color: var(--main-header-color);
}









/* ice-blast-card-section */


/**/





/**/









/* Footer Section*/
