

*{
margin: 0;
padding: 0;

}

/**/









header .top-navbar nav.navbar ul li a{
    font-size: 20px;
    color: var(--main-font-color);
}


header nav.main-nav-bar{
    background-color: var(--main-header-color);
}


/* Main Nav-bar */



/* Carousel */





/* ice-blast-card-section */

/* ice-blast Heading */
.Ice-Blast-Heading h3{
    font-family: 'Font Name', sans-serif;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center; /* Optional: Align text to center horizontally */
    padding-bottom: 5px;
}

.Ice-Blast-Heading h3::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%; /* Position the line at the horizontal center */
    transform: translateX(-50%);
    width: 3%; /* Adjust based on how wide you want the line */
    height: 3px; /* Adjust based on how thick you want the line */
    background-color: black; /* Adjust based on the color you want */

}


/* ice-blast Carousel Styling */
.product-item{
    border: none;
}
.product-img{
    position: relative;
    overflow: hidden;
}
.btns{
    font-size: 15px;
    font-weight: 300;

}
.btns button{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #FFFFFF;
    background-color: #000000;
}
.product-img:hover .btns{
    bottom: 0;
}

.Save{
    position: absolute;
    width: 30%;
    top: 16px;
    right: 15px;
    font-size: 15px;
    color: white;
    background-color: black;
    text-align: center;

}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: red;
    font-size: 18px;
    font-weight: normal;
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 300px;
}

/**/




/**/









/* Footer Section*/
