{% load static %}
{% include 'header/header.html' %}

<main class="main-content">
  <div class="main-hero-section">
    <div class="row g-0">
      <div class="col-12">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'images/main-carousel-1.webp' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Title</h5>
                <p>Description</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div><!-- /.col-12 -->
    </div><!-- /.row -->
  </div><!-- /.main-hero-section -->
  <div class="ice-blast-card-section" style="background-color: #e2e3e7;">
    <div class="Ice-blast-products" style="padding-top: 100px;">
      <div class = "container">
        <div class = "row my-5 g-0">
            <h1 class = "text-center">Ice Blast</h1>
        </div>
        <div class = "row g-4 my-5 mx-auto owl-carousel-1 owl-carousel owl-theme">    
          {% for product in products %}
            <div class = "col product-item mx-auto">
                <div class = "product-img">
                    <img src = "" alt = "" class = "img-fluid d-block mx-auto">
                    <span class = "Save">Save 7%</span>
                    <div class = "row btns w-100 mx-auto text-center">
                        <button type = "button" class = "col-12 py-2">
                            <i class = "fa fa-cart-plus"></i> Add to Cart
                        </button>
                    </div>
                </div>  
                <div class = "product-info p-3">
                    <span class = "product-type"><h4>{{product.title}}</h4></span>
                    <span class = "product-price">Rs.{{product.price}}</span>
                    <div class = "rating d-flex mt-1">
                        <span>
                            <i class = "fa fa-star"></i>
                        </span>
                        <span>
                            <i class = "fa fa-star"></i>
                        </span>
                        <span>
                            <i class = "fa fa-star"></i>
                        </span>
                        <span>
                            <i class = "fa fa-star"></i>
                        </span>
                        <span>
                            <i class = "fa fa-star"></i>
                        </span>
                        <span><!-- /.review --></span>
                    </div>
                </div>      
            </div>
          {% endfor %}
        </div>
      </div>
    </div><!-- /.Ice-blast-products -->
  </div><!-- /.ice-blast-card-section -->
</main><!-- /.main-content -->
{% include 'footer/footer.html' %}



