<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dari Mooch | Pakistan's 1 Men's Grooming Brand</title>
</head>
<body>
    <div class="site-wrapper">
        <header class="header">
            <img src="Daari_Mooch_Logo.webp" alt="" class="main-logo">
        </header><!-- /.header -->
        <main class="main-content">
            <h1>
                Home Page
                <a href="about/">About</a>
                <a href="login/">Login</a>
            </h1>
        </main><!-- /.main-content -->
        <footer class="footer">

        </footer><!-- /.footer -->
    </div><!-- /.site-wrapper -->
</body>
</html>